@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700;900&family=Source+Serif+Pro:wght@300;400&display=swap");

* {
  box-sizing: border-box;
}

html {
  --shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.4);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Serif Pro", serif;
}

.container {
  font-family: "Nunito", sans-serif;
  max-width: 1400px;
  margin: 0 auto;
}

main .container {
  display: flex;
}

.products {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.product {
  position: relative;
  padding: 1rem;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-title {
  position: absolute;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  color: white;
  background: rgba(0, 0, 0, 0.4);
  padding: 0.5rem 0.7rem;
}

.product img {
  width: 100%;
}

.product button {
  display: inline-block;
  padding: 12px 20px;
  margin: 10px;
  background-color: #4caf50;
  color: white;
  font-size: 1.2rem;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.product button:hover {
  background-color: #3e8e41;
}

.product button i {
  display: inline-block;
  margin: 0 0 0 0.5rem;
  padding: 0;
}

.sidebar {
  margin: 0 20px;
  width: 230px;
  padding: 10px;
  border: 1px solid #ccc;
}

.cart {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cart h3 {
  background: none;
  padding: 0;
  color: black;
  position: static;
  text-align: center;
  transform: translate(0);
}

.cart .product {
}

/* Her kan du tilpasse stilen efter dit eget design */
